@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");

:root {
  --font-name: "Roboto", sans-serif;
  --font-headlines: "Quicksand", sans-serif;
  --font-body: Arial, Helvetica, sans-serif;
  --body-color: #2d2926;
  --orange: #f2aa4c;
  --color-1: #cbce91;
  --color-2: #76528b;

  // --orange: var(--color-1);
  // --body-color: var(--color-2);
  // --background-color: var(--orange);
  // --background-gradient: radial-gradient(circle, rgba(242, 170, 76, 1) 56%, rgba(163, 118, 59, 1) 100%);
  --background-color: #fff;
  --background-color-80: #ffffffcc;
  --background-color-40: #ffffff66;
  --background-gradient: #fff;
  --background-color-optional: #fff5e8;
  // --background-gradient: var(--color-1);
  --whiteOff: #f0f0f0;
  --soft-shodow: 3.6px 1.9px 2.7px rgba(0, 0, 0, 0.05),
    9px 4.9px 6.9px rgba(0, 0, 0, 0.071),
    18.4px 9.9px 14.2px rgba(0, 0, 0, 0.089),
    38px 20.4px 29.2px rgba(0, 0, 0, 0.11), 104px 56px 80px rgba(0, 0, 0, 0.16);
  --factor: 1;
  --border-radius: 8px;
  --bubble-color: #ee82ee;
}

@media screen and (max-width: 750px) {
  :root {
    --border-radius: 4px;
  }
}
